// Colors
$light-grey: #e9ecef;
$blue: rgb(31, 181, 204);
$white:white;
$purple: #563b7e;
$yellow: yellow;
$grey: rgb(169, 155, 155);

// Background colors
$body-background: rgb(255, 250, 247);
$body-background-2: #d7d8f3;