@import "../bootstrap/bootstrap";
@import "./vars";


body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: $body-background;
}

.navbar {
  background-color: $light-grey !important;
  
  
  .nav-link {
    color: $black;
    font-weight: bolder;
    &.disabled {
      color: $purple;
    }
    &:hover {
     color: black;
    }
  } 
}

.container-fluid {
  padding: 0;
}

.cards {
  margin-top: 100px;
}

#middle-section {
  margin-top:100px;
  background-color: $body-background-2;
  padding: 30px;
  .align-right {
    margin-left: 65px;
  }
  .card {
    margin-bottom: 30px;
    button {
      // margin-left: 335px;
      // margin-top: 10px;
    }
  }
}